

 /*
 FLEXBOX
 */
 .flex {
    display:flex;
  }
  
  .flex.fdc {
    flex-direction: column;
  }
  
  .flex.fdr {
    flex-direction: row;
  }
  
  .flex.jcc {
    justify-content: center;
  }
  
  .flex.jcsbt {
    justify-content: space-between;
  }
  
  .flex.aic {
    align-items: center;
  } 
  
   /*
   END FLEXBOX
   */

   body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

@media only screen and (max-width: 540px) {
    table {
        font-size:4vw !important;
    }

    #navbar-title {
        font-size:5vw !important;
    }
}

@media only screen and (max-width: 350px) {
  td a.btn {
    width: 15vw;
    font-size:3.8vw;
  }
}