

 /*
 FLEXBOX
 */
 .flex {
    display:flex;
  }
  
  .flex.fdc {
    flex-direction: column;
  }
  
  .flex.fdr {
    flex-direction: row;
  }
  
  .flex.jcc {
    justify-content: center;
  }
  
  .flex.jcsbt {
    justify-content: space-between;
  }
  
  .flex.aic {
    align-items: center;
  } 
  
   /*
   END FLEXBOX
   */

   /* the following two rules make the footer stick to the bottom of the page*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a.sortable-table-row  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 
}

@media only screen and (max-width: 540px) {
  #meeting-table {
        font-size:4vw !important;
    }

    #navbar-title {
        font-size:5vw !important;
    }

    a.sortable-table-row {
      flex-wrap: wrap;
    }
}
