

 /*
 FLEXBOX
 */
 .flex {
    display:flex;
  }
  
  .flex.fdc {
    flex-direction: column;
  }
  
  .flex.fdr {
    flex-direction: row;
  }
  
  .flex.jcc {
    justify-content: center;
  }
  
  .flex.jcsbt {
    justify-content: space-between;
  }

  .flex.jcsa {
    justify-content: space-around;
  }
  
  .flex.aic {
    align-items: center;
  }

  .flex.wrap {
    flex-wrap: wrap-reverse;
  }
  
   /*
   END FLEXBOX
   */

   /* the following two rules make the footer stick to the bottom of the page*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

a.sortable-table-row  {
  display: flex;
  flex-direction: row;
}

#meeting-notice {
  padding-bottom: 20px;
}

div.small-spacer {
  width: 30px;
}

.my-text-section {
  margin-left: 20vw;
  margin-right: 20vw;
  word-wrap:break-word;
}

.center-text {
  word-wrap:break-word;
  text-align:center;
}

.my-center {
  position: absolute;
  top: 50%; right: 50%;
  transform: translate(50%,-50%);
}

@media only screen and (max-width: 800px) {
  .my-text-section {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}

@media only screen and (max-width: 600px) {
  .my-text-section {
    margin-left: 10vw;
    margin-right: 10vw;
  }
}

@media only screen and (max-width: 540px) {
  #meeting-table {
        font-size:4vw !important;
    }

    #navbar-title {
        font-size:5vw !important;
    }

    a.sortable-table-row {
      flex-direction: column;
    }
}

#contribution-buttons a {
  margin:5px;
}

#contribution-buttons {
  flex-direction: row;
}

@media only screen and (max-width: 500px) {
  #contribution-buttons {
    flex-direction: column;
    
  }
}